:root {
	--color-button: #f2f2f2;
	--color-hover: #ddd;
	--color-selected: #75b3f6;

	--border-radius-sm: 5px;
	--border-radius-lg: 10px;
	--gap-sm: 5px;
	--gap-lg: 20px;
	--shadow: 0 0 10px -4px #0004, 0 0 30px -12px #0003;
}

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	user-select: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}
